In [3]:
import networkx as nx

import pandas as pd
import numpy as np

import pickle

For a first run through, I'm going to create a network of ONLY just double verified. Once I get the code down, I'll do others

In [4]:
with open('/Users/robertpagano/metis_data/project_5/final_double_verified_df.pickle', 'rb') as f:
    df_double_verified = pickle.load(f)

In [5]:
df_double_verified.head()

,tweet_id,user_id,display_name,screen_name,tweet_date,main_text,fav_count,rt_count,followers_count,is_verified,...,retweet_fav_count,retweet_followers_count,quoted_text,quoted_id,quoted_user_id,quoted_screen_name,quoted_is_verified,quoted_fav_count,is_retweet,is_quote
3494,1105324545257426944,15787371,Alison Klayman,aliklay,Tue Mar 12 04:28:02 +0000 2019,"RT @schwarz: Luke Thompson, the guy who kicked...",0,623,4857,True,...,1897.0,30242.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
8,1105323825296629760,28049003,William Gibson,GreatDismal,Tue Mar 12 04:25:10 +0000 2019,RT @ddale8: Ocasio-Cortez has offered this sem...,0,80,247650,True,...,347.0,542874.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
38,1105323801468780544,28049003,William Gibson,GreatDismal,Tue Mar 12 04:25:04 +0000 2019,"RT @ddale8: This is not true. Right to Rise, t...",0,212,247650,True,...,718.0,542874.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1015,1105322632956633088,23314049,yvette nicole brown,YNB,Tue Mar 12 04:20:26 +0000 2019,RT @VanityFair: NEW: @AOC opens up about the p...,0,371,389468,True,...,2403.0,4855698.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1136,1105322497703137281,784304,SXSW,sxsw,Tue Mar 12 04:19:54 +0000 2019,RT @sxsw: Watch Representative Alexandria Ocas...,0,367,656419,True,...,1625.0,656419.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0

Need to create a file that's just one column for screen name, one column for retweet screenname, and one column for quoted screen name

In [27]:
df_names = df_double_verified.filter(['screen_name','retweet_screen_name','quoted_screen_name'], axis=1)

In [28]:
df_names.tail()

         screen_name retweet_screen_name quoted_screen_name
1875   SubodhChandra                 NaN                AOC
2038  RealJamesWoods                 NaN                AOC
4066      bethfertig                 NaN        yasmeenkhan
374     RealSaavedra                 NaN                AOC
2208  MarkSKrikorian                 NaN                AOC

Creating graph object

AFTER DINNER:
 - need to merge retweet and quoted, create a column that just has one name
 - use the following code:
 
`
from_pandas_dataframe(df_names, screen_name, rt_quoted_screen_name, edge_attr=None, create_using=None)
`

In [29]:
df_names['rt_quoted_screen_name'] = df_names['retweet_screen_name']

In [30]:
df_names.head()

      screen_name retweet_screen_name quoted_screen_name rt_quoted_screen_name
3494      aliklay             schwarz                NaN               schwarz
8     GreatDismal              ddale8                NaN                ddale8
38    GreatDismal              ddale8                NaN                ddale8
1015          YNB          VanityFair                NaN            VanityFair
1136         sxsw                sxsw                NaN                  sxsw

In [31]:
df_names['rt_quoted_screen_name'] = df_names['rt_quoted_screen_name'].fillna(df_names['retweet_screen_name'])

df_names.tail(40)

,screen_name,retweet_screen_name,quoted_screen_name,rt_quoted_screen_name
1113,bhweingarten,NaN,AOC,NaN
1967,dbinkowski,NaN,AOC,NaN
193,ReaganBattalion,NaN,AOC,NaN
3700,kayleighmcenany,NaN,ChadPergram,NaN
473,slhamlet,NaN,HardDriveMag,NaN
620,mgrohman,NaN,FrankLuntz,NaN
746,Tracinski,NaN,AOC,NaN
2650,21WIRE,NaN,AOC,NaN
3254,davidharsanyi,NaN,danielmarans,NaN
1856,bhweingarten,NaN,Heminator,NaN
2714,eliransapir,NaN,Jason,NaN
3174,davereaboi,NaN,AOC,NaN
3952,cmclymer,NaN,mikedebonis,NaN
1546,KMCRadio,NaN,AOC,NaN
1799,KMCRadio,NaN,AOC,NaN
3865,EddieZipperer,NaN,RealSaavedra,NaN
201,guypbenson,NaN,AOC,NaN
2091,AOC,NaN,atrupar,NaN
858,peterboykin,NaN,AOC,NaN
404,dorothyofisrael,NaN,dorothyofisrael,NaN
1325,SavvyAuntie,NaN,McCormackJohn,NaN
3333,InezFeltscher,NaN,Yascha_Mounk,NaN
1407,johncardillo,NaN,alexbkane,NaN
454,GavinPolone,NaN,AOC,NaN
750,InezFeltscher,NaN,JillFilipovic,NaN
1538,Liz_Wheeler,NaN,JakeSherman,NaN
1780,GPollowitz,NaN,alexbkane,NaN
1763,InezFeltscher,NaN,JakeSherman,NaN
1895,davejorgenson,NaN,petridishes,NaN
3629,HangryKeith,NaN,AOC,NaN
4058,MattGrossmann,NaN,MattGrossmann,NaN
793,SamElizabethan,NaN,AOC,NaN
117,prageru,NaN,AOC,NaN
1206,yesnicksearcy,NaN,AOC,NaN
1639,RealSaavedra,NaN,AOC,NaN
1875,SubodhChandra,NaN,AOC,NaN
2038,RealJamesWoods,NaN,AOC,NaN
4066,bethfertig,NaN,yasmeenkhan,NaN
374,RealSaavedra,NaN,AOC,NaN
2208,MarkSKrikorian,NaN,AOC,NaN

hmm something's not right, come back to this after dinner

In [6]:
G=nx.Graph()